*, ::before, ::after{
    font-size: 62.5%;
  }

  html{
    max-width: 400rem;
  }

  main{
    display: grid;
    grid-template-columns: 10rem 1fr 10rem;
    grid-template-rows: 20rem 1fr 1fr 1fr 20rem;
  }

  /*Grid Sections Assignment + section specs*/
  #welcome-section, #projects{
    grid-column: 2 / 3;
    text-align: center;
  }

  #welcome-section{
    grid-row: 2 / 3;
  }
  #projects{
    grid-row: 3 / 4;
  }

  /*grid assignment end*/

  :root{
    --title-background: pink;
  }

  #welcome-section, #projects{
    font-size: 3rem;
  }
  
  #project-container{
    display: flex;
    gap: 2rem;
    margin: auto;
    flex-wrap: wrap;
  }

.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 5rem;
    background-color: var(--title-background);
    box-sizing: border-box;
    border: 2px solid black;
}
.project h3{
    box-sizing: border-box;
    border-top: 4rem;
    display: block;
    text-align: center;
}

.fade{
    color: var(--title-background);;
    transition: color 1s ease-in-out;
}
a:hover .fade{
    color: red;
}
.proj-image{
    width: 35rem;
    height: 30rem;
    object-fit: cover;
}

a{
    text-decoration: none;
}